.nav {
    display: flex;
    height: 75px;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin: 0px auto 0px 45px;
  }
  
  .group-btn {
    display: flex;
    flex-direction: row;
    margin-right: 45px;
  }
  
  .group-btn a {
    color: black;
    padding: 5px 25px;
    border: 1px solid black;
    margin: 0px;
    border-right: none;
  }
  
  .group-btn a:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .group-btn a:last-child {
    border-right: 1px solid black;
    border-radius: 0 5px 5px 0;
  }
  
  .group-btn a:hover {
    background-color: rgba(36, 36, 36, 0.7);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(36, 36, 36, 1);
  }
  
  .menu-btn {
    display: none;
    cursor: pointer;
    margin-right: 45px;
  }
  
  .active {
    background-color: rgba(36, 36, 36, 0.7);
    color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(36, 36, 36, 1) !important;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    top: 103%;
    left: 0;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  .hero-container {
    margin: 50px 100px 0px;
    height: 100vh;
  }
  
  .hero-img {
    width: auto;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-color: #25133f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%2392a8ac' fill-opacity='0.4'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
  
  .hero-title h1 {
    font-size: xx-large;
    margin: 10px 0px;
  }
  
  .hero-title h3 {
    font-size: x-large;
    margin: 0 0 10px;
  }
  
  .content-container {
    margin: 50px 100px 0;
    text-align: center;
    height: 87vh;
  }
  
  .content {
    position: relative;
  }
  
  .title {
    font-size: xx-large;
    margin: 10px 0px;
  }
  
  .content-img {
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 0px;
    border-radius: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .content-main {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
  }
  
  .content:hover .overlay {
    opacity: 1;
  }
  
  .content-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .form-container {
    margin: 50px 100px 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  
  form {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 5px;
    column-gap: 10px;
  }
  
  form label {
    padding: 10px 0px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 100px;
  }
  
  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon input[type='date'] {
    padding-right: 30px;
  }
  
  .calendar-icon {
    position: absolute;
    right: 10px;
    top: 25%;
    pointer-events: none;
  }
  
  .gender-selection {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .gender-selection input[type='radio'] {
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    outline: none;
    margin-right: 5px;
  }
  
  .gender-selection label {
    font-size: 16px;
  }
  
  .result .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .result .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .result h3 {
    margin-bottom: 10px;
    height: fit-content;
  }
  
  .result p {
    font-size: 20px;
    color: #888;
    text-align: center;
  }
  
  #warning-name {
    color: red;
  }
  
  #warning-dob {
    color: red;
  }
  
  #warning-gender {
    color: red;
  }
  
  #warning-msg {
    color: red;
  }
  
  .invalid {
    border: 1px solid red !important;
  }
  
  .nav-footer {
    display: flex;
    height: 75px;
    align-items: center;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    margin-top: 45px;
  }
  
  .nav-footer p {
    margin-right: 45px;
  }
  
  /* Responsive */
  
  @media screen and (max-width: 600px) {
    .nav {
      position: relative;
    }
  
    .hero-container {
      height: 70vh;
    }
  
    .hero-title {
      display: flex;
      flex-direction: column;
    }
  
    .hero-img {
      margin: 20px 0;
      height: 300px;
    }
  
    .content-main {
      flex-direction: column;
    }
  
    .content {
      margin: 10px auto;
    }
  
    .overlay {
      z-index: 2;
    }
  
    .group-btn {
      display: none;
    }
  
    .menu-btn {
      display: inline-block;
    }
  
    .forms {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
    }
  
    .result {
      margin: 50px auto 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    .menu-btn {
      display: none;
      cursor: pointer;
      margin-right: 45px;
    }
  }
  
  @media screen and (min-width: 992px) {
  }
  
  @media screen and (min-width: 1200px) {
  }
  